{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <section>
            <div class="contact-us">
                <h1>Contact Us</h1>
                <h4>If You Have Any Questions.</h4>
            </div>
            <div class="contact">
                <div class="contact-box">
                    <div>
                        <img src="{{ asset("images/marker.png") }}">
                        <p>City</p>
                        <p>Adress</p>
                        <p>Postal code</p>
                    </div>
                </div>

                <div class="contact-box">
                    <div>
                        <img src="{{ asset("images/email.png") }}">
                        <p>email@mail.com</p>
                    </div>
                </div>

                <div class="contact-box">
                    <div>
                        <img src="{{ asset("images/phone.png") }}">
                        <p>+421 454 420 666</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="map">
            <h1> Find Us Here.</h1>
            <div id="mapid">

            </div>
        </section>
    </article>
{% endblock %}