{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <section>
            <div class="contact">
                <div class="contact-box">
                    <img src="{{ asset("images/marker.png") }}">
                    <p>City</p>
                    <p>Adress</p>
                    <p>Postal code</p>
                </div>

                <div class="contact-box">
                    <img src="{{ asset("images/email.png") }}">
                    <p>email@mail.com</p>
                </div>

                <div class="contact-box">
                    <img src="{{ asset("images/phone.png") }}">
                    <p>+421 454 420 666</p>
                </div>

            </div>
        </section>
    </article>
{% endblock %}