{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <section>
            <div class="contact">
                <h1>Contact Us Here</h1>
                <div class="contact-elemetnts">
                    <p>Phone:</p>
                    <p >E-mail:</p>
                    <p>P.O. Box:</p>
                    <br>
                    <p>City:</p>
                    <p>Address:</p>
                </div>
                <div class="contact-info">
                    <p>+421 584 321 455</p>
                    <p >jeterpanos@bruhmail.com</p>
                    <p>fahby</p>
                    <br>
                    <p>Krompahy</p>
                    <p>Adresa XX</p>
                </div>
            </div>
        </section>
    </article>
{% endblock %}