{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
        <section>
            <div style="color: white">
                <p>{{user.getFirstName()}}</p>
                <p>{{user.getLastName()}}</p>
                <p>{{user.getUsername()}}</p>
                <p>{{user.getEmail()}}</p>

            </div>
        </section>
{% endblock %}