{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <article class="index-article" id="article">
        <section id="home1">
            <div class="heading-container">
                <a href="{{ path('products') }}" class="heading">
                    B-SHOP
                </a>
                <p>Hozza & Janoš</p>
            </div>
        </section>
    </article>

{% endblock %}