{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <article class="index-article" id="article">
        <section id="home1">
            <div class="heading-container">
                <h1 class="heading">
                    {{ title }}
                </h1>
                <p>Hozza & Janoš</p>
            </div>
            <div class="menu">
                <a href="#"><span class="dot"></span></a>
                <a href="#"><span class="dot"></span></a>
                <a href="#"><span class="dot"></span></a>
            </div>
        </section>

    </article>

{% endblock %}