html {
    scroll-behavior: smooth;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    background-color: #040404;
    font-family: Roboto, sans-serif;
    opacity: 1;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    color: black;
}


.announcement {
    background-color: #308E4F;
    color: #000000;
    text-align: center;
}

.announcement p {
    margin: 0;
    padding: 4px;
}

nav {
    background-color: #000000;
    margin: 0;
    padding: 0;
    z-index: 1001;
}

.nav {
    list-style: none !important;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline;
    padding-top: 10px;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #A8A8A8;
    transition-duration: 0.2s;
    padding: 15px;

}

.nav a:hover {
    color: #c3c3c3;
    transition-duration: 0.2s;
}

.nav-item-right a {
    position: absolute;
    color: white;
    background-color: #2c783e;
    padding-left: 20px;
    padding-right: 20px;
    right: 0;
}

.user{
    right: 100px !important;
    background-color: transparent !important;
    color: #A8A8A8 !important;
    font-size: 15px !important;
}

.user:hover{
    color: #c3c3c3 !important;
}

.nav-item-right a:hover {
    color: #000000;
}

.nav-item-left a {
    position: absolute;
    left: 2%;
    color: white !important;
}

.nav-item-active a {
    color: #308E4F;
}

.nav-item-active a:hover {
    color: #337626;
}

.index-article {
    max-width: 100%;
    height: 100%;
}

@keyframes heading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }

}

article {
    opacity: 1;
    height: auto;

}

.vid {
    background-color: black;
    animation: 1s ease-out 2s 1 heading;
}


.heading-container {
    --border-width: 0.1em;
    --animation-speed: 0.5s;
    --color: #ffffff;
    color: var(--color);
    position: relative;
    display: inline-block;
    font-size: 4em;
    transform: scale(1, 0.8);
    border: var(--border-width) solid transparent;
    animation: 1s ease-out 0s forwards borderColors;
}

@keyframes bg-clr {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;

    }
}

.heading {
    margin: 0;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'Six Caps', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0.2em;
/ / background: rgba(50, 50, 50, 0.5);
    background: #333;
    animation: 0.2s ease-out 0s 1 bg-clr;
    z-index: 1;
    border: solid var(--border-width) transparent;
}

.heading-container::before {
    content: '';
    position: absolute;
    background: var(--color);
    animation: 1s ease-out 0s forwards beforeBorders;
}

.heading-container::after {
    content: '';
    position: absolute;
    background: var(--color);
    animation: 1s ease-out 0s forwards afterBorders;
}

/*
.heading-container:hover .heading{
    animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
    animation-delay: calc(var(--animation-speed) / 5 * 2);
}

 */

@keyframes beforeBorders {
    0% {
        top: calc(var(--border-width) * -1);
        left: 50%;
        bottom: auto;
        right: auto;
        width: 0;
        height: var(--border-width);
    }
    33% {
        top: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        bottom: auto;
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
    }
    66% {
        top: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        bottom: auto;
        right: auto;
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
        top: auto;
        left: calc(var(--border-width) * -1);
        bottom: calc(var(--border-width) * -1);
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
    }
}

@keyframes afterBorders {
    0% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: 50%;
        width: 0;
        height: var(--border-width);
    }
    33% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
    }
    66% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: calc(var(--border-width) * -1);
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
        top: auto;
        left: auto;
        bottom: calc(var(--border-width) * -1);
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
    }
}

@keyframes borderColors {
    0% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        outline: none;
    }
    33% {
        border-top-color: var(--color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        outline: none;

    }
    66% {
        border-top-color: var(--color);
        border-right-color: var(--color);
        border-bottom-color: transparent;
        border-left-color: var(--color);
        outline: none;
    }
    100% {
        border-top-color: var(--color);
        border-right-color: var(--color);
        border-bottom-color: var(--color);
        border-left-color: var(--color);
        outline: none;
    }
}

@keyframes background {
    to {
        background: transparent;
        text-shadow: 0 0.1em 0.1em #111;
    }
}

.heading::selection {
    background-color: #308E4F;
}

.heading-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heading-container p {
    position: absolute;
    color: white;
    font-size: 15px;
    left: 25%;
    width: 50%;
    text-align: center;
    letter-spacing: 1px;
}

@keyframes dots {
    0% {
        transform: translate(-50px, -50%);
    }
    100% {
        transform: translate(0, -50%);

    }

}

.menu {
    position: fixed;
    top: 50%;
    animation: 1s ease-out 0s 1 dots;
    transform: translateY(-50%);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    transition-duration: 0.5s;
    border-radius: 50%;
    display: grid;
    margin: 10px;
}

.dot:hover {
    background-color: #737373;
    transition-duration: 0.5s;
}

.about-us {
    width: 100%;
    height: auto;
    background-color: white;
}

/*    LOGIN     */
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #0e0e0e;
    border-radius: 10px;
    padding: 30px 30px;
    width: 200px;
    z-index: 1000;
}

.form h1 {
    color: white;
    margin: 0;
    padding: 0;
}

.form h3 {
    color: white;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    font-weight: 500;
}

.form input {
    background-color: #0e0e0e;
    border: none;
    border-bottom: 1px solid white;
    position: relative;
    margin-bottom: 10px;
    color: white;
    width: 100%;
}

.form input:focus{
    border-bottom: 1px solid #2c783e;
}

.form label {
    position: relative;
    color: white;
    font-weight: 400;
    font-family: Roboto;
    font-size: 13px;
    z-index: 1;
    float: left;
    font-style: italic;
}

.form button {
    background-color: #2c783e;
    border-style: none;
    border-radius: 4px;
    padding: 10px 25px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}



.form p {
    margin-top: 25px;
    margin-bottom: 0;
    color: #f6f6f6;
    font-size: 13px;
    text-decoration: none;
}

.form a {
    margin: 0;
    padding: 0;
    color: #3aa65c;
    font-size: 15px;
    text-decoration: underline;

}

.agree{
    width: 40px !important;
}

input:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

/*Products*/


.product-container {

    width: 300px;
    border-bottom: 0 none;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    text-align: center;
}

.product-img {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition-duration: 0.2s;
}

.product-img:hover{
    width: 92%;
    transition-duration: 0.2s;
    cursor: pointer;
}

.product-info{
    margin-top: 5px;
}

.product-header {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 20px;
}

.product-description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

.product-price {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 25px;

}

.button-buy {
    background-color: #619863;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #619863;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 4px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-bottom: 20px;
    margin-top: 0;
}

.button-buy:hover {
    background-color: #4ba34e;
}


.products-header {
    color: white;
    background-image: url("../images/products-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 50px;
}

.product-list {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}



.filters {
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 2px;
}


.filters span {
    margin: 1em;
}

.filters span:hover {
    cursor: pointer;
}


.filter-items {
    padding-top: 1%;
    padding-bottom: 4%;
    position: absolute;
    display: none;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.filter-items label{
    cursor: pointer;
}

.filter-items-border {
    border: solid 1px #d5d5d5;
    padding: 5px 10px;
    margin: 10px;
}

.filter-items-border:hover {
    border: solid 1px #8f8f8f;
}

.filter-opener{
    padding: 10px;
    background-color: #efefef;
    width: 10%;
    text-align: center;
}

.search {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c783e;
    border-style: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
/*PROFILE*/
.profile{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
    padding: 40px 30px;
}

.profile img{
    margin: 0;
    padding: 0;
}

.profile h1{
    margin: 0;
    padding: 0;

}

.profile p{
    margin: 0;
    padding: 0;
}

/*PROFILE*/

/*CONTACT*/

.contact-us{
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.contact-us h1{
    font-size: 40px;
    margin: 0;
}

.contact-us h4{
    margin: 0;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-box{
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: #0A0A0A;
    border-radius: 12px;
    color: white;
    margin: 20px;
}

.contact-box div{
    margin-top: 80px;
}

.contact-box img{
    width: 30px;
    height: auto;
}

.contact-box p{
    margin: 15px;
}
/*CONTACT*/


/*Pre telefóny*/
@media only screen and (max-width: 991px) {
    .filter-items {
        width: 100%;
        padding-bottom: 20%;
    }


}

.errors{
    color: red;
    font-size: 10px;
    text-align: left;
    margin-left: 0;
}
.paging{
    width: 100%;
    text-align: center;
}