{% extends('base.html.twig') %}
{% block body %}
    <article style="background-color: #ffffff;">
        <section>
            <h1 class="products-header">DETAIL</h1>

        </section>
    </article>
{% endblock %}