{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <section>
        {{ form_start(form, {'attr': {'class':'form'}}) }}
        <h1>Edit</h1>
        {{ form_end(form) }}
    </section>
{% endblock %}