{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="edit_user">
            {{ form(form) }}
        </div>
    </section>
{% endblock %}